<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body ng-app="myApp" ng-controller="CardController">
  <h1>
    {{"Kanbangular"}}
  </h1>
  <section>
  <!-- adding new cards/info to db -->
    <div class="add-card-form">
      <form ng-submit="addCard($event)">
        <input type="text" name="title" placeholder="Title">
        <input type="text" name="priority" placeholder="priority">
        <input type="text" name="created_by" placeholder="created by">
        <input type="text" name="assigned_to" placeholder="assigned to">
        <button type="submit">Add Card</button>
      </form>
    </div>
    <!-- columns -->
    <div class="wrapper">

      <div class='column left'>Queue
        <div class="cards" 
             ng-repeat="card in cards | filter: {'status':'queue'}">
        <status card="card">
          <form ng-submit="update($event)">
            <button type="submit">
          </form>
        </status>       
        </div>
      </div>

      <div class='column middle'>In Progress
        <div class="cards" 
             ng-repeat="card in cards | filter: {'status':'in progress'}" >
        <status card="card"></status>
        </div>
      </div>

      <div class='column right'>Done
      <div class="cards" 
           ng-repeat="card in cards | filter: {'status':'done'}" >
        <status card="card"></status>
      </div>
      </div>
    </div>
  </section>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0/angular-route.js"></script>
  <script src="/js/myApp.js" type="text/javascript"></script>
   <!-- <script src="/js/constants.js" type="text/javascript"></script> 
  // <script src="/js/values.js" type="text/javascript"></script> -->
  <!-- // <script src="/js/factories.js" type="text/javascript"></script> -->
  <script src="/js/services.js" type="text/javascript"></script>
  <script src="/js/providers.js" type="text/javascript"></script>
  <script src="/js/controllers.js" type="text/javascript"></script>
  <!-- // <script src="/js/filters.js" type="text/javascript"></script> -->
</body>
</html>